#header
{ color: #0fd3f1;}


h1 {
  font-size: 2rem;
  text-align: center;
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  color: #16a085;
  margin-bottom: 12px;
}

h3 {
  font-size: 1.2rem;
  color: #2980b9;
  margin-bottom: 8px;
}

p {
  font-size: 1rem;
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', serif;
}

/* Navigation Bar */
#navbar {
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: #e9edf0;
  padding: 8px 12px;
  border-radius: 6px;
}


/* ID selectors */
#intro {
  background-color: #09c0ee;
  border: 2px solid #cccccc;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 8px;
}


/* Class selectors */
.container {
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.reason {
 
  border: 1px solid #f6f3f3;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.reason:hover {
  background-color: #dff9fb;
  border-color: #a05b16;
}

body {
  background-image:url("https://images.pexels.com/photos/25394158/pexels-photo-25394158.jpeg");
  background-size: contain;
  background-position: right; 
  background-repeat: no-repeat;
  background-color: rgba(247, 243, 243, 0.5); /* Dark overlay behind */
  background-blend-mode:gray;     /* Blends color + image */
}
.highlight {
  text-align: center;
  font-style: italic;
}

/* Footer */
.footer {
  text-align: center;
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  
}
